body {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    height: 90vh;
}

#map {
    height: 100%;
}

footer {
    height: 10vh;
}

.background {
    height: 200px;
    width: 200px;
    background-size: cover;
}